<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Convenely | <%= name %></title>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>

  <meta name="description" content="Simple Scheduling Over Email" />

  <% if (webAppDebug) { %>
  <link href="/stylesheets/bootstrap-3.css" rel="stylesheet">
  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">

  <link href="/stylesheets/event2.css" rel="stylesheet">
  <% } else { %>
  <link href="/stylesheets/all.css" rel="stylesheet">
  <% } %>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <link rel="shortcut icon" href="/images/favicon.png">
    </head>
    <body>
      <div class="background"></div>

      <div class="navbar navbar-fixed-top">
        <div class="fixed-width">
          <a class="tiile-button changes-made-email-link" id="title-mail"><i class="fa fa-envelope-o"></i></a>
          <div class="title-button-container">
            <a class="tiile-button" id="show-info"><i class="fa fa-cog"></i></a>
          </div>
          <div class="title"><%= name %></div>
          <div class="row">
            <table class="table days-table">
              <tr>
                <td>M</td>
                <td>T</td>
                <td>W</td>
                <td>T</td>
                <td>F</td>
                <td>S</td>
                <td>S</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row selecting-dates-container" style="display: none;">
        <div class="selecting-dates">
          <div class="selecting-dates-title">Select potential dates</div>
          <div class="selecting-dates-period-conatiner">
            <span id="selecting-dates-one-month">
              One month
            </span>
            <span id="selecting-dates-two-months">
              Two months
            </span>
            <span id="selecting-dates-all">
              All
            </span>
          </div>          
          <div>
            <span id="selecting-dates-cancel">Cancel</span>
            <span id="selecting-dates-save">Save <i class="fa fa-chevron-right"></i></span>
          </div>
        </div>
      </div>


        <div id="top-row-spacer"></div>

        <div class="event-container-margin">
          <div class="event-container">
           <div class="row">
            <div class="calendar-choices-top calendar-choices-top-one" style="display: none;"><div>1</div></div>
            <div class="calendar-choices-top calendar-choices-top-two" style="display: none;"><div>2</div></div>
            <div class="calendar-choices-top calendar-choices-top-three" style="display: none;"><div>3</div></div>
            <table class="table event-table">
              <colgroup>
              <col width="14.2%">
              <col width="14.2%">
              <col width="14.2%">
              <col width="14.2%">
              <col width="14.2%">
              <col width="14.2%">
              <col width="14.2%">
            </colgroup>
          </table>
        </div>
      </div>
    </div>

    <div class="navbar navbar-fixed-bottom">
      <div class="row">
        <div id="register-footer" style="display: none;">
          <div>
            <form id="register-form" method="post" onsubmit="return window.App.validateEmail()">
              <div class="register-attendee-message"></div>
              <div class="register-attendee-email-input-container">
                <input type="text" name="name" class="form-control" id="register-attendee-name-input" placeholder="Your name (optional)"></input>
                <input type="email" name="email" class="form-control" id="register-attendee-email-input" placeholder="Your email address"></input>
                <input id="register-free-dates" type="hidden" name="isFree"/>
              </div>
              <button type="submit" class="register-attendee-button-container">
                <span class="span-link" id="register-attendee-link">Save changes <i class="fa fa-chevron-right"></i></span>
              </button>
            </form>
          </div>
        </div>
        <div class="mode-switch-panel">
          <div class="mode-switch-container">
            <span class="mode-switch-calender mode-switch-selected">
              <i class="fa fa-calendar"></i>
              Calendar
            </span>
            <span class="mode-switch-attendees">
              <i class="fa fa-users"></i>
              Attendees
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="settings-view">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><i class="fa fa-cog"></i> Settings</h4>
          </div>
          <div class="modal-body">
        <div>
          <div class="current-attendee-info">
            <div class="settings-section">
              <h2>Name</h2>
              <form id="update-name-form" method="post">
                <div>
                  <input type="text" placeholder="Your name" class="form-control" id="current-name" name="name"></input>
                  <input type="hidden" id="current-name-id" name="_id"/></input>
                  <button type="submit" id="current-name-update">
                    <span class="span-link">Update <i class="fa fa-chevron-right"></i></span>
                  </button>
                </div>
              </form>
            </div>
            <div class="settings-section">
              <h2>Email</h2>
              <div class="current-email"></div>
            </div>
          </div>
          <div class="settings-section">
            <a href="<%= inviteEmailLink %>" id="add-attendee"><i class="fa fa-plus-circle"></i> Invite someone <i class="fa fa-chevron-right"></i></a>
          </div>
          <div class="settings-section">
            <span class="span-link" id="settings-update-dates"><i class="fa fa-calendar"></i> Change event dates <i class="fa fa-chevron-right"></i></span>
          </div>
          <div class="settings-section">
            <a href="mailto:convenely@gmail.com?subject=Help!"><i class="fa fa-question-circle"></i> Help <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42036841-1', 'convenely.com');
    ga('send', 'pageview');
    </script>

    <script type="text/template" id="choice-template">
    <div class="date-cell-container">
      <div class="date-text">
        <@= date.getDate() @>
      </div>
      <div class="free-marker"><i class="fa fa-check"></i></div>
      <div class="markers-container">
        <ul>
        <@ _.each(availList, function(isAvailable){ @>
          <@ if (isAvailable) { @>
            <li class="a"></li>
          <@ } else { @>
            <li></li>
          <@ } @>
        <@ }); @>
        </ul>
      </div>
    </div>
    </script>

    <script type="text/template" id="month-title-template">
    <td>
    <@ if (showTitle){ @>
      <div class="month">
      <div>
      <@= month @>
      </div>
      </div>
    <@ } @>
    </td>
    </script>

    <script type="text/template" id="selected-row-template">
    <tr class="selected-row" id="selected-row">
      <td colspan="7" width="7">
        <div class="info-row">
          <div>
            <div class="info-row-selector">
              <div>
                <span class="inline-text-desktop">Click</span><span class="inline-text-mobile">Tap</span> if<br/>free
              </div>
            </div>
            <div class="info-row-selector-free <@ if(isFree){ @> info-row-selector-free-show <@ } @>">
              <div>
                <i class="fa fa-check"></i>
              </div>
            </div>
            <div class="info-row-text-container">
              <div class="info-row-top-choice" <@ if (!showTopChoice){ @>style="display: none;"<@ } @>>
                <div>
                  <@= topChoiceText @>
                </div>
              </div>
            <div class="info-row-text"><@= attendeeText @></div>
            <@ if(showInvite){ @>
              <a href="<%= inviteEmailLink %>">Invite others <span class="fa fa-chevron-right"></span></a>
            <@ } else { @>
              <div <@ if(!showDetails){ @>style="display: none;"<@ } @> class="info-row-names"><@= attendeeNamesText @></div>
            <@ } @>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </script>

    <script type="text/template" id="first-choice-template">
      <div class="top-choice-text">
        <@= choice @>
      </div>
    </script>

    <script type="text/template" id="side-info-panel-container-template">
      <div class="side-info-panel-container">
        <div>
        </div>
      </div>
    </script>

    <script type="text/template" id="side-info-panel-template">
    <div class="side-info-panel">
    <div class="side-info-date"><@= date @></div>
    <@ if (!showInviteLink) { @>
      <ul>
      <@ _.each(attendees, function(attendee){ @>
        <li><div class="side-info-name <@ if (choices.isAttendeeFree(attendee.get('_id'))) { @> side-info-free <@ } @> "><@= attendee.get('prettyName') @><i class="fa fa-check-circle"></i></div></li>
        <@ }); @>
      </ul>
      <@ } else { @>
        <div class="side-info-invite">
        Click dates to show when you're free<br/> <!-- ' -->
        <br/>
        <a href="<%= inviteEmailLink %>">Invite others <span class="fa fa-chevron-right"></span></a>
        </div>
    <@ } @>
    </div>
    </script>

        <script type="text/template" id="top-choices-template">
        <div class="side-info-panel-container">
        <div>
        <div class="side-info-panel-left">
        <div class="side-info-panel-left-title">
        Top Choices
        </div>
        <div class="side-info-panel-left-container">
        </div>
        </div>
        </div>
        </div>
        </script>

        <script type="text/template" id="top-choices-item-template">
        <div class="top-choice-item"><@= date @></div>
        </script>

        <script type="text/template" id="attendees-view-template">
          <div class="attendees-container-margin">
            <div class="attendees-container">
              <div class="row">
                <div class="attendees-name-list-container">
                  <ul class="attendees-name-list">
                    <li></li>
                    <li></li>
                    <@ _.each(attendees, function(attendee){ @>
                      <li class="<@ if (attendee.get('me')) {@>attendees-name-me<@ } @>"><div><@= attendee.get('prettyName') @></div></li>
                      <@ }); @>
                      <li class="attendees-invite"><a href="<%= inviteEmailLink %>">Invite <i class="fa fa fa-plus-circle"></i></a></li>
                  </ul>
                </div>
                <div class="attendees-choices-month-container"></div>
                <div class="attendees-choices-list-container">
                  <div class="attendees-padding">
                    <div class="attendees-choices-list-content">
                    <div class="attendees-choices-top attendees-choices-top-one"><div>1</div></div>
                    <div class="attendees-choices-top attendees-choices-top-two"><div>2</div></div>
                    <div class="attendees-choices-top attendees-choices-top-three"><div>3</div></div>
                      <table>
                        <tr class="attendees-choices-row"></tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>

        <script type="text/template" id="attendees-choice-view-template">
        <ul class="attendees-choice <@ if (choice.get('date').getDay() === 6 || choice.get('date').getDay() === 0) {@>attendees-choice-date-weekend<@ } @> ">
        <li class="attendees-choice-month">
        <div>
        <@ if (choice.showMonth ) {@> <@= moment(choice.get('date')).format("MMMM") @><@ } @>
        </div>
        </li>
        <li class="attendees-choice-date"><@= moment(choice.get('date')).format("ddd Do") @></li>
        <@ _.each(attendees, function(attendee){ @>
          <@ if (attendee.get('me')) {@>
            <li class="att-ch att-ch-me">
            <div <@ if (choice.isAttendeeFree(attendee.get("_id"))) { @>class="attendee-free"<@ } @>><i class="fa fa-check"></i>
            </div>
            </li>
            <@ } else { @>
              <li class="att-ch">
              <div <@ if (choice.isAttendeeFree(attendee.get("_id"))) { @>class="attendee-free"<@ } @>>
              </div>
              </li>
              <@ } @>
              <@ }); @>
        </ul>
        </script>

        <% if (webAppDebug) { %>
        <script src="/javascripts/tp/jquery-2.0.3.min.js"></script>
        <script src="/javascripts/tp/tp.helper.js"></script>
        <script src="/javascripts/bootstrap/bootstrap.min.js"></script>

        <script src="/javascripts/tp/fastclick.js"></script>

        <script src="/javascripts/tp/underscore-min.js"></script>
        <script src="/javascripts/tp/moment.js"></script>
        <script src="/javascripts/tp/backbone-min.js"></script>
        <script src="/javascripts/tp/sly.min.js"></script>

        <script src="/javascripts/helper.js"></script>

        <script src="/javascripts/models/choice-model.js"></script>
        <script src="/javascripts/models/choices-model.js"></script>
        <script src="/javascripts/models/calendar-model.js"></script>

        <script src="/javascripts/views/choices-view.js"></script>
        <script src="/javascripts/views/info-row-view.js"></script>
        <script src="/javascripts/views/side-info-panel.js"></script>
        <script src="/javascripts/views/top-choices-panel.js"></script>
        <script src="/javascripts/views/attendees-view.js"></script>
        <script src="/javascripts/views/settings-view.js"></script>
        <script src="/javascripts/views/select-dates-view.js"></script>

        <script src="/javascripts/event-app.js"></script>
        <% } else { %>
        <script src="/javascripts/all-ck.js"></script>
        <% } %>

        <script>
        $(document).ready(function(){
          FastClick.attach(document.body);

          window.App = new EventApp();

          window.App.loadBootstrapData(<%= choices %>, <%= attendees %>, <%= calendar %>);
        });

        </script>

          </body>
          </html>
