<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Convenely</title>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>

  <meta name="description" content="Simple Scheduling Over Email" />

  <!-- Le styles -->
<!--   
  <link href="/stylesheets/bootstrap-3.css" rel="stylesheet">
  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">


  <link href="/stylesheets/event2.css" rel="stylesheet">
  <link href="/stylesheets/pie.css" rel="stylesheet">
-->
<link href="/stylesheets/all.css" rel="stylesheet">

<!--link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet"-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

  <link rel="shortcut icon" href="/images/favicon.png">
</head>
    <body>

      <div class="navbar navbar-fixed-top">
        <div class="fixed-width">
           <a class="tiile-button changes-made-email-link" id="title-mail" style="display: none;"><i class="fa fa-envelope-o"></i></a>
          <div class="title-button-container">
           <a class="tiile-button" id="show-info"><i class="fa fa-chevron-right"></i></a>
         </div>
         <div class="title"></div>
         <div class="row">
           <div id="updated-footer" style="display: none;">
            <div class="footer">
              <a id="changes-made-banner" class="changes-made-email-link"><i class="fa fa-envelope-o"> </i> Notify everyone of changes <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
           <div id="register-footer" style="display: none;">
            <div class="footer">
              <div>
                <div class="register-attendee-message"></div>
                <div class="register-attendee-email-input-container">
                  <div class="register-attendee-email-spinner-container">
                    <i class="register-attendee-email-spinner fa fa-spinner fa-spin" style="display: none;"></i>
                    <i class="register-attendee-email-validation fa fa-check"></i>
                  </div>
                  <input type="email" class="form-control" id="register-attendee-email-input" placeholder="Enter email"></input>
                </div>
                <div class="register-attendee-button-container">
                  <i class="i-link" id="register-attendee-link">Add attendee and save changes <i class="fa fa-chevron-right"></i></i>
                </div>
              </div>
            </div>
          </div>

         </div>
         <div class="row">
          <div class="info" style="display: none;">
            <h2>Attendees</h2>
            <div>
              <span class="attendees"></span><span id="add-attendee">Add <i class="fa fa-plus-circle"></i></span>
            </div>
            <div class="center">
              <div class="add-attendee-panel" style="display: none;">
                <div class="add-attendee-message"></div>
                <div class="add-attendee-email-input-container">
                  <div class="add-attendee-email-spinner-container">
                    <i class="add-attendee-email-spinner fa fa-spinner fa-spin"></i>
                    <i class="add-attendee-email-validation fa fa-check"></i>
                  </div>
                  <input type="email" class="form-control" id="add-attendee-email-input" placeholder="Enter email"></input>
                </div>
                <div class="add-attendee-button-container">
                  <span class="span-link" id="add-attendee-link">Add Attendee</span>
                  <span id="add-attendee-cancel-link" class="cancel-link">Cancel</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <table class="table days-table">
            <tr>
              <td>M</td>
              <td>T</td>
              <td>W</td>
              <td>T</td>
              <td>F</td>
              <td>S</td>
              <td>S</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="event-container">
     <div id="top-row-spacer"></div>
     <div class="row">
       <table class="table event-table">
       </table>
     </div>
   </div>

  <div class="modal fade" id="welcome-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Welcome</h4>
        </div>
        <div class="modal-body">
          <p>
            Tap a date to see who's free.
            <div class="single-date-container">
              <div class="pie big" data-start="0" data-value="210"></div>
              <div class="unknown">
                <div class="content">
                  20
                </div>
              </div>
              <div></div>
            </div>
          </p>
          <p>
            Tap it again to toogle whether you're free.
            <div class="single-date-container">
              <div class="pie big" data-start="0" data-value="210"></div>
              <div class="free">
                <div class="content">
                  20
                </div>
              </div>
              <div></div>
            </div>
          </p>
          <p>
            Enter your email address to share your changes with everyone.
          </p>
        </div>
        <div class="modal-footer">
          <a data-dismiss="modal">Get Started <i class="fa fa-chevron-right"></i></a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42036841-1', 'convenely.com');
    ga('send', 'pageview');
    </script>

  <script type="text/template" id="choice-template">
    <div>
      <div class="pie" data-start="0" data-value="0"></div>
        <div class="unknown">
          <div class="content">
          <@= date.getDate() @>
          </div>
        </div>
      <div></div>
    </div>
  </script>

  <script type="text/template" id="month-title-template">
  <td class="first-seven">
    <@ if (showTitle){ @>
    <div class="month">
      <@= month @>
    </div>
    <@ } @>
  </td>
  </script>

  <script type="text/template" id="selected-row-template">
    <tr class="selected-row">
      <div>
        <td colspan="7">
          <div class="info-row-text">
            <@= attendeeText @>
          </div>
        </td>
      </div>
    </td>
  </script>
 
  <script src="/javascripts/jquery-1.8.2.min.js"></script>
  <script src="/javascripts/bootstrap/bootstrap.min.js"></script>
 
  <script src="/javascripts/fastclick.js"></script>

  <script src="/javascripts/underscore-min.js"></script>
  <script src="/javascripts/moment.js"></script>
  <script src="/javascripts/backbone-min.js"></script>

  <script src="/javascripts/helper.js"></script>
  
  <script src="/javascripts/models/choice-model.js"></script>
  <script src="/javascripts/models/choices-model.js"></script>
  <script src="/javascripts/models/calendar-model.js"></script>

  <script src="/javascripts/views/choices-view.js"></script>

  <script src="/javascripts/event-app.js"></script>

<!-- 
<script src="/javascripts/all-ck.js"></script>
 -->
<script>
$(document).ready(function(){
  FastClick.attach(document.body);

  window.App = new EventApp();

  window.App.loadBootstrapData(<%= choices %>, <%= attendees %>, <%= calendar %>);
});

</script>

</body>
</html>
