<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Convenely</title>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>

  <meta name="description" content="Simple Scheduling Over Email" />

  <!-- Le styles -->
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="/stylesheets/event2.css" rel="stylesheet">
  <link href="/stylesheets/pie.css" rel="stylesheet">

  <!--link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet"-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <link rel="shortcut icon" href="/images/favicon.png">
    </head>

    <body>

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner fixed-width">
          <div class="title-button-container">
           <a class="tiile-button" id="show-info">Info</a>
         </div>
         <div class="title">Lorem Ipsum</div>
         <div class="row">
          <div class="info" style="display: none;">
            <h2>Attendees</h2>
            <div>Jake, Derik, Mandella, Jude, Tessa, Sidney, Abraham, Terry</div>
            <a id="email-group">Email Group ></a>
          </div>
        </div>
        <div class="row">
          <table class="table days-table">
            <tr>
              <td>MON</td>
              <td>TUE</td>
              <td>WED</td>
              <td>THU</td>
              <td>FRI</td>
              <td>SAT</td>
              <td>SUN</td>
            </tr>
          </table>
        </div>
        <div class="row">
          <div class="month-label-container">
            <div class="month-label">March</div>
          </div>
        </div>
      </div>
    </div>
    <div class="event-container">
     <div id="top-row-spacer"></div>
     <div class="row">
       <table class="table event-table">
        <tr>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  19
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  20
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  21
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="40"></div>
              <div class="free">
                <div class="content">
                  22
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="150"></div>
              <div class="unknown">
                <div class="content">
                  23
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie big" data-start="0" data-value="260"></div>
              <div class="unknown">
                <div class="content">
                  24
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  25
                </div>
              </div>
              <div></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="0"></div>
              <div class="unknown">
                <div class="content">
                  26
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie big" data-start="0" data-value="260"></div>
              <div class="unknown">
                <div class="content">
                  27
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="40"></div>
              <div class="free">
                <div class="content">
                  28
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  29
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td class="first">
            <div>
              <div class="pie" data-start="0" data-value="150"></div>
              <div class="unknown">
                <div class="content">
                  1
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td class="first-seven">
            <div>
              <div class="pie big" data-start="0" data-value="0"></div>
              <div class="free">
                <div class="content">
                  2
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td class="first-seven">
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  3
                </div>
              </div>
              <div></div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="first-seven">
            <div>
              <div class="pie" data-start="0" data-value="30"></div>
              <div class="free">
                <div class="content">
                  4
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td class="first-seven">
            <div>
              <div class="pie" data-start="0" data-value="60"></div>
              <div class="free">
                <div class="content">
                  5
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td class="first-seven">
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  6
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td class="first-seven">
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  7
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="150"></div>
              <div class="unknown">
                <div class="content">
                  8
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie big" data-start="0" data-value="260"></div>
              <div class="free">
                <div class="content">
                  9
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  10
                </div>
              </div>
              <div></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="0"></div>
              <div class="unknown">
                <div class="content">
                  11
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="60"></div>
              <div class="unknown">
                <div class="content">
                  12
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  13
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="50"></div>
              <div class="free">
                <div class="content">
                  14
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="0"></div>
              <div class="unknown">
                <div class="content">
                  15
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="30"></div>
              <div class="unknown">
                <div class="content">
                  16
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  17
                </div>
              </div>
              <div></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="0"></div>
              <div class="unknown">
                <div class="content">
                  18
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="0"></div>
              <div class="unknown">
                <div class="content">
                  19
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  20
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="50"></div>
              <div class="free">
                <div class="content">
                  21
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="0"></div>
              <div class="unknown">
                <div class="content">
                  22
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="30"></div>
              <div class="unknown">
                <div class="content">
                  23
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  24
                </div>
              </div>
              <div></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="0"></div>
              <div class="unknown">
                <div class="content">
                  25
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="0"></div>
              <div class="unknown">
                <div class="content">
                  26
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="50"></div>
              <div class="unknown">
                <div class="content">
                  27
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="0"></div>
              <div class="free">
                <div class="content">
                  28
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="0"></div>
              <div class="unknown">
                <div class="content">
                  29
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="0"></div>
              <div class="free">
                <div class="content">
                  30
                </div>
              </div>
              <div></div>
            </div>
          </td>
          <td>
            <div>
              <div class="pie" data-start="0" data-value="00"></div>
              <div class="unknown">
                <div class="content">
                  31
                </div>
              </div>
              <div></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <!--div class="footer-text">
        Tap once to highlight a date<br/>
        tap again to show your availability.
      </div-->
      <div class="footer-text">
        <strong>Dave</strong>, <strong>Terry</strong>, <strong>Sidney</strong> and <strong>yourself</strong> can all make it.
      </div>
    </div>
  </div>

  <script src="/javascripts/jquery-1.8.2.min.js"></script>
  
  <script src="/javascripts/bootstrap/bootstrap-scrollspy.js"></script>
  <script src="/javascripts/bootstrap/bootstrap-tooltip.js"></script>
  <script src="/javascripts/bootstrap/bootstrap-button.js"></script>

  <script src="/javascripts/fastclick.js"></script>

  <script src="/javascripts/underscore-min.js"></script>
  <script src="/javascripts/backbone-min.js"></script>

  <script src="/javascripts/event-app.js"></script>

  <!--script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42036841-1', 'convenely.com');
  ga('send', 'pageview');
</script-->

<script>
var choices = new Backbone.Collection;

choices.reset(<%= choices %>);

console.log(choices.length);
</script>

</body>
</html>
