<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/mail">Help</a></li>
        </ul>
        <h3 class="muted">Convenely</h3>
      </div>

      <hr>

      <div class="row-fluid marketing">

        <div class="span6">
          <h4>When I reply to the list who see's my reponse?</h4>
          <p>Everyone on the list sees your response, it works just like a regular mailing list.</p>

          <h4>How private is the list?</h4>
          <p>Only people on a list can send messages to it.  Everyone on the list will see every other email address though, these are displayed in the availability calendar.</p>

          <h4>Do you keep messages?</h4>
          <p>No, our algorithums read every email to extact availability information then they're forgotten.</p>
        </div>

        <div class="span6">
          <h4>Can I add new names to the list?</h4>
          <p>Sure, if you're already part of the list just email the list with the subject 'Add' and we'll add all email addresses in the body of the message to the list.</p>

          <h4>Can I remove names from the list?</h4>
          <p>It's the same as add but use 'Remove' as the subject.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Conevely 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery-1.8.2.min.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-transition.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-alert.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-modal.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-dropdown.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-tab.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-tooltip.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-popover.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-button.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-collapse.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-carousel.js"></script>
    <script src="/javascripts/bootstrap/bootstrap-typeahead.js"></script>

  </body>
</html>
