<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Convenely - About</title>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>

  <meta name="description" content="Simple Scheduling Over Email" />

  <!-- Le styles -->
  <link href="/stylesheets/bootstrap-3.css" rel="stylesheet">
  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">

  <link href="/stylesheets/index2.css" rel="stylesheet">

  <!--link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet"-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <link rel="shortcut icon" href="/images/favicon.png">
    </head>
    <body>

      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Convenely</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="mailto:convenely@gmail.com">Contact</a></li>
            <li class="active"><a href="/help">Help</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
        </div>
      </nav>

      <div class="help">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h2>Getting Started</h2>

              </br>
              <h4>1. <a class="scroll" href="#selectDates">Select the dates</a> you're available</h4>
              <h4>2. <a class="scroll" href="#invite">Invite</a> others to the event</h4>
              <h4>3. Discover the <a class="scroll" href="#suitable">most suitable</a> date and <a class="scroll" href="#contact">contact everyone</a></h4>
              </br>

              <a id="selectDates"></a>
              <h3>Select when you're free.</h3>
              <p>Click the days when you're available and see who else is available.</p>

              <a id="invite"></a>
              <h3>Inviting others.</h3>
              <p>In Options <i class="fa fa-bars"></i> click the 'Invite someone' link to send an email inviting people to the event.</p>

              <a id="suitable"></a>
              <h3>Finding the best date.</h3>
              <p>See the top three dates for your event when you open it up, clicking your event title will re-open the summary screen.</p>

              <a id="contact"></a>
              <h3>Contact everyone.</h3>
              <p>Every event has it's own private email group, click the <i class="fa fa-envelope"></i> button to send an email to everyone participating in the event.</p>
              </br>
              </br>
              <h2>FAQ</h2>
              </br>

              <h3>No passwords, how does that work?</h3>
              <p>When you join an event every email you receieve for that event has your own unique 'View event' link in it, click this and we know it's you.</p>

              <h3>How do I add people to an event?</h3>
              <p>Either click the 'Invite attendee' link in any event email or click Options <i class="fa fa-bars"></i> on your event page then click 'Invite someone'.</p>

              <h3>Can anyone add people to an event?</h3>
              <p>Anyone who is part of an event can add people to it.</p>

              <h3>How do I remove people from an event?</h3>
              <p>Anyone can remove themselves from an event by clicking 'Unsubscribe' at the bottom of any email.  If you want to remove someone else, send an email to your event's email address with 'Remove' as the subject and the email address of the person you want to remove in the message.</p>

              <h3>How private is the event email list?</h3>
              <p>Only people on a list can send messages to it.  Everyone on the list will see who else is on the list.</p>

            </div>
            <div class="col-sm-4 sidebar">
              <h3>Got any suggestions?</h3>
              <h3><a href="mailto:convenely@gmail.com?subject=I've got a suggestion...">Let us know</a></h3>
            </div>
          </div>  
        </div>
      </div>

      <script src="/javascripts/tp/jquery-2.0.3.min.js"></script>
      <script src="/javascripts/bootstrap/bootstrap.min.js"></script>
      
      <script>

        $(document).ready(function(){
          $(".scroll").click(function(event){
             event.preventDefault();
             
             var hash = $(this).attr('href');
             
             //calculate destination place
             var dest=0;
             if($(this.hash).offset().top > $(document).height()-$(window).height()){
                  dest=$(document).height()-$(window).height();
             }else{
                  dest=$(this.hash).offset().top;
             }
             //go to destination
           $('html,body').animate({scrollTop:dest}, 400,'swing', function(){
             window.location.hash = '#' + hash;
           });
         });
        });
      </script>
      
    </body>
  </html>
