<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Convenely | Get it together</title>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>

  <meta name="description" content="Simple Scheduling Over Email" />

  <!-- Le styles -->
  <link href="/stylesheets/bootstrap-3.css" rel="stylesheet">
  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">

  <link href="/stylesheets/index.css" rel="stylesheet">

  <!--link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet"-->

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <link rel="shortcut icon" href="/images/favicon.png">
    </head>
    <body>

      <div class="hero">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Convenely</span>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="mailto:convenely@gmail.com">Contact</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
          </div>
        </nav>
        <div class="row hero-text">
            <div class="headline">
              <h1>Get it together</h1>
              <p>A simple way to schedule meeting up with friends.</p>
            </div>
            <div class="example-link-container">
              <a class="example-link" href="/example">See an example <span class="fa fa-chevron-right"></span></a>
            </div>
          </div>
      </div>


      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 everywhere">
              <h3>Works everywhere.</h3>
              <img class="img-responsive text-center" src="/images/all-platforms.png" alt="On phone, tablet and desktop"/>
            </div>
            <div class="col-sm-6">
              <form role="form" action="/create" method="post" onsubmit="return validateForm()">
                <h3>Create your event now.</h3>
                <div class="form-group">
                  <label for="event-name">What are you arranging?</label>
                  <input type="text" class="form-control" id="event-name" name="event" placeholder="Poker night, Office drinks">
                </div>
                <div class="form-group">
                  <label for="your-email">Your Email Address</label>
                  <input type="email" class="form-control" id="event-email" name="email" placeholder="Email address">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Attendees Email (optional)</label>
                  <textarea class="form-control" rows="3" name="attendees" placeholder="Optional, you can add them later"></textarea>
                </div>
                <div class="submit-container">
                  <button type="submit" class="btn btn-success btn-lg"> 
                    Create Event <span class="fa fa-chevron-right"></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="features">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <i class="fa fa-envelope-o"></i>
              <div class="feature-text">
              <h3> Your own email group</h3>
              <p>Every event on Convenely has its own email group (e.g. poker-night@convenely.com), use it to contact everyone invited to the event.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-calendar"></i>
              <div class="feature-text">
              <h3>Simple shared calendar</h3>
              <p>See everyone's availability and update your own from the beautifully simple shared calendar.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-lock"></i>
              <div class="feature-text">
              <h3>No logins or passwords</h3>
              <p>There are no accounts to create or passwords to remember, just enter your email address and away you go.</p>
              </div>
           </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <i class="fa fa-money"></i>
              <div class="feature-text">
              <h3>Completely free</h3>
              <p>Convenely is completely free and we don't show ads.</p>
              </div>
           </div>
            <div class="col-sm-4">
              <i class="fa fa-wrench"></i>
              <div class="feature-text">
              <h3>Easy setup</h3>
              <p>Enter your email address and a name for what you're arranging and that's it.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-cogs"></i>
              <div class="feature-text">
              <h3>Intelligent email</h3>
              <p><strong>Coming Soon.</strong> Send an email to your event's group address to update your availability i.e. "I can do Monday or Wednesday next week".</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="/javascripts/tp/jquery-1.8.2.min.js"></script>
      <script src="/javascripts/bootstrap/bootstrap.min.js"></script>

      <script>

        $(document).ready(function(){
          var name = $("#event-name");
          name.keyup(function(){
            name.removeClass("invalid");
          });

          var email = $("#event-email");
          email.keyup(function(){
            email.removeClass("invalid");
          });

          setDimensions();

          //when resizing the site, we adjust the heights of the sections
          $(window).resize(function() {
            setDimensions();
          }); 
        });

        function validateForm(){
          var name = $("#event-name");

          if (name.val() === null || name.val() === ""){
              name.addClass("invalid");
              return false;
          }

          var email = $("#event-email");

          if (email.val() === null || email.val() === ""){
              email.addClass("invalid");
              return false;
          }
        }

        function setDimensions(){
          var windowsHeight = $(window).height();
          $('.hero').css('height', windowsHeight + 'px');
        }
      </script>
    </body>
  </html>
