/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/* Globals */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/opensans-light.wof) format('woff');
}
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #4ad16c;
}
a:hover {
  color: #4ad16c;
  cursor: pointer;
}
/* Bootstrap */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 60px;
}
.btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.btn-success {
  background: #4ad16c;
  border-color: #4ad16c;
}
.container {
  max-width: 968px;
}
.navbar {
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0.2);
}
.navbar-default {
  border: none;
}
.navbar-default .navbar-brand {
  color: #4ad16c;
  font-size: 26px;
}
.navbar-default .navbar-brand:hover {
  color: #4ad16c;
}
.navbar-default .navbar-nav > li > a {
  color: #4ad16c;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #4ad16c;
  cursor: pointer;
}
.brand {
  color: #4ad16c;
}
.hero {
  background-position: center center;
  background-size: cover;
  text-align: center;
  background-image: url("../images/bk4.jpg");
  border-bottom: solid 1px #e8e8e8;
}
.hero-text {
  color: white;
  height: 100%;
  text-shadow: 0px 1px 1px black;
}
.headline {
  position: relative;
  top: 10%;
  height: 0px;
}
.hero-text h1 {
  font-size: 80px;
  margin: 0px 20px;
}
.hero-text p {
  font-size: 22px;
  margin: 20px 20px;
}
.example-link-container {
  text-align: center;
  position: relative;
  top: 75%;
}
.example-link-container > a {
  font-size: 20px;
}
.example-link {
  color: white;
  text-shadow: none;
  background: #4ad16c;
  padding: 5px 20px;
}
.example-link:hover {
  color: white;
}
.jumbotron {
  background: white;
  font-size: 15px;
  margin-top: 10px;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .jumbotron,
  .about {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .headline {
    top: 15%;
  }
  .hero-text h1 {
    font-size: 80px;
  }
  .hero-text p {
    font-size: 22px;
    margin: 20px 20px;
  }
}
@media screen and (max-width: 768px) {
  .jumbotron h1 {
    text-align: center;
  }
  .headline {
    top: 8%;
  }
  .hero-text h1 {
    font-size: 65px;
  }
  .hero-text p {
    font-size: 18px;
    margin: 20px 20px;
  }
}
.jumbotron h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.jumbotron p {
  font-size: 21px;
  line-height: 1.6em;
  margin-bottom: 30px;
}
.jumbotron img {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.everywhere {
  text-align: center;
}
.everywhere > h3 {
  color: #4ad16c;
}
.form-group {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
form > h3 {
  text-align: center;
  color: #4ad16c;
  font-weight: 200;
}
/* Homepage */
.features {
  background: #f8f8f8;
  border-top: solid 1px #e8e8e8;
  padding-bottom: 100px;
}
.features .fa {
  float: left;
  font-size: 32px;
  position: absolute;
  left: 15px;
  top: 0px;
  color: #4ad16c;
}
.features h3 {
  margin-top: 0px;
}
.features .col-sm-4 {
  padding-left: 60px;
  position: relative;
  line-height: 1.8em;
}
.features .row > div {
  margin-top: 40px;
}
.submit-container {
  font-size: 26px;
  text-align: center;
}
.invalid {
  border-color: red;
}
/* About */
.about {
  margin: 10px;
  line-height: 1.6em;
}
.about h2 {
  line-height: 1.4em;
  font-size: 34px;
}
.sidebar {
  margin-top: 40px;
  text-align: center;
}
