body{padding-top:0px;padding-bottom:40px;font-size:21px;font-family:'Open Sans',sans-serif;color:#808080;min-height:800px;}
#top-row-spacer{height:40px;}
.navbar-fixed-top .navbar-inner{background:white;box-shadow:none;}
.title{text-align:center;padding-top:10px;}
.event-row{height:40px;}
.row-item{float:right;min-width:20px;text-align:center;margin-top:9px;margin-left:4px;margin-right:4px;}
.event-row .name{padding-top:1px;margin-left:5px;float:left;margin-top:10px;}
.event-row .free-count{padding-top:1px;border-bottom:4px solid #51da73;float:right;min-width:20px;text-align:center;margin-top:9px;margin-left:4px;margin-right:4px;}
.event-row .busy-count{padding-top:1px;float:right;min-width:20px;text-align:center;margin-top:9px;margin-left:4px;margin-right:4px;border-bottom:4px solid #fe673b;}
.event-row .unknown-count{padding-top:1px;color:#808080;float:right;min-width:20px;text-align:center;margin-top:9px;margin-left:4px;margin-right:4px;display:none;}
.row-state{color:white;float:right;height:34px;text-align:center;width:34px;border-radius:20px;margin-left:3px;margin-right:3px;margin-top:3px;}
.row-state-free{color:white;float:right;height:34px;text-align:center;width:34px;border-radius:20px;margin-left:3px;margin-right:3px;margin-top:3px;background:#51da73;}
.row-state-busy{color:white;float:right;height:34px;text-align:center;width:34px;border-radius:20px;margin-left:3px;margin-right:3px;margin-top:3px;background:#fe673b;}
.row-state-unknown{color:white;float:right;height:34px;text-align:center;width:34px;border-radius:20px;margin-left:3px;margin-right:3px;margin-top:3px;background:#e0e0e0;}
.row-state-busy>div{padding-top:7px;}
.row-state-free>div{padding-top:7px;}
.row-state-unknown>div{padding-top:7px;}
