body{
	padding-top: 0px;
	padding-bottom: 40px;

	font-size: 21px;
	font-family: 'Open Sans', sans-serif;
	color: #808080;

	min-height: 800px;
}

.navbar-inner{
	border-color: #e8e8e8;
	min-height: 50px;
}

.rows-container{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	min-height: 800px;
}

#top-row-spacer{
	height: 50px;
}

.navbar-fixed-top .navbar-inner{
	background: white;
	box-shadow: none;
}

.title{
	text-align: center;
	padding-top: 15px;
}

.title-add{
	position: absolute;
	font-weight: bold;
	font-size: 28px;
	margin-left: 13px;
	margin-top: 13px;
}

.event-row{
}

.event-row-top{
	padding: 4px 10px;
	height: 40px;
	cursor: pointer;
}

@row-top-padding: 1px;
@row-item-width: 20px;

.row-item{
	float: right;
	min-width: @row-item-width;
	text-align: center;
	margin-top: 9px;
	margin-left: 4px;
	margin-right: 4px;
}

.event-row .date{
	padding-top: @row-top-padding;
	float: left;
	margin-top: 10px;
	/*color: #0083c3;*/
}

.event-row .free-count{
	padding-top: @row-top-padding;
	border-bottom: 4px solid #51da73;
	.row-item;
}
.event-row .busy-count{
	padding-top: @row-top-padding;
	.row-item;
	border-bottom: 4px solid #fe673b;
}
.event-row .unknown-count{
	padding-top: @row-top-padding;
	color: #808080;
	.row-item;
	display: none;
}
.row-state{
	color: white;
	float: right;
	height: 34px;
	text-align: center;
	width: 34px;
	border-radius: 20px;
	margin-left: 3px;
	margin-top: 3px;
}

.row-state-free{
	.row-state;
	background: #51da73;
}

.row-state-busy{
	.row-state;
	background: #fe673b;
}

.row-state-unknown{
	.row-state;
	background: #e0e0e0;
}

.row-state-busy > div{
	padding-top: 7px;
}

.row-state-free > div{
	padding-top: 7px;
}

.row-state-unknown > div{
	padding-top: 7px;
}

/* Details */
.event-row-details{
	font-size: 18px;
	display: none;
	border-bottom: 1px solid #e8e8e8;
	padding: 4px 10px;
}

.details-row{
	padding: 5px 0px;
}

.details-state{
	color: white;
	float: right;
	height: 24px;
	text-align: center;
	width: 24px;
	border-radius: 20px;
	margin-top: -2px;
	font-size: 14px;
}

.details-state-free{
	background: #51da73;
	margin-right: 66px;
	.details-state;
}

.details-state-busy{
	.details-state;
	margin-right: 39px;
	background: #fe673b;
}

.details-state-busy > div{
	padding-top: 3px;
}

.details-state-free > div{
	padding-top: 3px;
}
