body{padding-top:0px;padding-bottom:40px;font-size:21px;font-family:'Open Sans',sans-serif;color:#808080;min-height:800px;}
.row{margin-left:0px;margin-right:0px;}
.table td{padding:10px 0px;border-top:none;}
.navbar-inner{border-color:#e8e8e8;min-height:50px;}
.event-container{max-width:600px;margin-left:auto;margin-right:auto;min-height:800px;}
#top-row-spacer{height:50px;}
.navbar-fixed-top .navbar-inner{background:white;box-shadow:none;}
.title{text-align:center;padding-top:15px;}
.title-add{position:absolute;font-weight:bold;font-size:30px;margin-left:13px;margin-top:13px;}
.event-table td{text-align:center;}
.event-table td>div{margin-left:auto;margin-right:auto;width:38px;height:38px;border-radius:100px;position:relative;}
.event-table td>div.free{background:#51da73;}
.event-table td>div.busy{background:#fe673b;}
.event-table td>div.unknown{background:#e0e0e0;}
.inner{position:relative;top:5px;margin-left:auto;margin-right:auto;border-radius:100px;width:28px;height:28px;background:rgba(255, 255, 255, 0.4);}
.content{position:relative;top:3px;}
