
@import "elements.less";

@free-color: #4AD16C;
@font-size: 21px;
@divider-color: #e8e8e8;

@month-divider-color: #e8e8e8;
@selected-color: #c0c0c0;
@weekend-color: #c8c8c8;
@light-background-color: #f8f8f8;

body{
	padding-top: 0px;
	padding-bottom: 40px;

	font-size: @font-size;
	font-family: 'Open Sans', sans-serif;
	color: #808080;

	min-height: 800px;
}

.table > tbody > tr > td{
	border: none;
	padding: 0px;
}

.navbar{
	min-height: 0px;
}

.event-table > tbody > tr > td{
	padding: 14px 0px 14px 0px;
}


a{
	color: @free-color;
	cursor: pointer;
}

a:hover{
	color: @free-color;
	text-decoration: none;
}

a:active{
	color: @free-color;
	text-decoration: none;
}

.span-link{
	color: @free-color;
	cursor: pointer;
}

.cancel-link{
	color: @selected-color;
}

.cancel-link:hover{
	color: @selected-color;
	cursor: pointer;
}

.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

.fixed-width{
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	position: relative;
}

.disabled{
	opacity: 0.5;
}

/**********************************************************************************/

.info{
	max-width: 570px;
	margin-left: auto;
	margin-right: auto;

	font-size: 16px;
	padding: 25px 15px;

	line-height: 1.6em;
}

.info h2{
	font-size: 16px;
	color: #606060;
	line-height: 1.3em;
	padding: 4px 0px;
	margin: 0px;
}

.info .btn{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.table td{
	padding: 8px 0px;
	border-top: none;
}

.navbar-inner{
	border-color: @divider-color;
	min-height: 50px;
	background: @light-background-color;
}

.navbar-fixed-top .navbar-inner, 
.navbar-fixed-bottom .navbar-inner, 
.navbar-static-top .navbar-inner{
	box-shadow: none;
	background: @light-background-color;
}

.event-container{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	min-height: 800px;
}

#top-row-spacer{
	height: 59px;
}

.navbar-fixed-top .navbar-inner{
	background: @light-background-color;
}

.navbar-inner{
	border: none;
}

.navbar-fixed-top{
	border-bottom: 1px solid @divider-color;
	background: @light-background-color;
}

.navbar-fixed-bottom{
	border-top: 1px solid @divider-color;
	background: @light-background-color;
}

.title-button-container{
	position: absolute;
	height: 0px;
	right: 0px;
	overflow: visible;
}

#show-info{
	position: relative;
	right: 8px;
	top: 12px;
	padding: 4px;
}

#show-info > span{
	.transition-duration(0.2s);

}

.show-info-rotate{
	.rotation(90deg);
}

.title{
	color: @free-color;
	text-align: center;
	padding-top: 12px;
	margin-left: auto;
	margin-right: auto;
}

.title:hover{
	cursor: pointer;
}

.tiile-button{
}


#email-group{
	top: 15px;	
	position: relative;
}

.add-attendee-panel{
	margin: 10px;
}

.message-panel{
	display: none;
	font-size: 14px;
}

.add-attendee-message{
	.message-panel;
}

#add-attendee{
	color: @free-color;
	margin-left: 7px;
}

#add-attendee:hover{
	cursor: pointer;
}

.attendee-email-input-container{
	max-width: 400px;
	margin: 0px auto;
}

.add-attendee-email-input-container{
	.attendee-email-input-container;
}

.attendee-email-input{
	width: 100%;
}

#add-attendee-email-input{
	.attendee-email-input;
}

.attendee-button-container{
	max-width: 400px; 
	margin: 3px auto;
}

.add-attendee-button-container{
	.attendee-button-container;
}

#add-attendee-link{
	float: left;
}

#add-attendee-cancel-link{
	float: right;
}

.attendee-email-spinner-container{
	height: 0px;
	float: right;	
	position: relative;
	top: 6px;
	right: 7px;
	font-size: 22px;
}

.add-attendee-email-spinner-container{
	.attendee-email-spinner-container;
}

.add-attendee-email-spinner{
	display: none;
}

.attendee-email-validation{
	opacity: 0.15;
	color: #808080;
}

.attendee-email-validation-valid{
	color: @free-color;
	opacity: 1;
}

.add-attendee-email-validation{
	.attendee-email-validation;
}

.add-attendee-email-validation-valid{
	.attendee-email-validation-valid;
}

.days-table{
	margin-top: 5px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-size: 9px;
	margin-bottom: 2px;
}

.days-table td{
	text-align: center;
	padding: 0px 0px;
	width: 30px;
}

.days-table td:nth-of-type(6),
.days-table td:nth-of-type(7){
	color: @weekend-color;
}

.month{
	color: #a0a0a0;
	top: 8px;
	left: 10px;
}

.event-table tr{
	height: 60px;
}

.event-table tr.selected-row{
	height: auto;
}

.event-table td{
	text-align: center;
	position: relative;
	color: #a0a0a0;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.event-table td.first{
	border-left: 1px solid @month-divider-color;
	border-top: 1px solid @month-divider-color;
}

.event-table td.first-seven{
	border-top: 1px solid @month-divider-color;
}

.event-table td:nth-of-type(6),
.event-table td:nth-of-type(7){
	color: @weekend-color;
}

.event-table td:nth-of-type(6) .unknown,
.event-table td:nth-of-type(7) .unknown{
}

.event-table td > div{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 38px;
	height: 38px;
	opacity: 1;
	cursor: pointer;
}

.event-table td>div.today>div:nth-of-type(3){
	background: @selected-color;
	position: relative;
	top: 12px;
	margin: 0px auto;
	width: 8px;
	height: 8px;
	border-radius: 10px;
}

.event-table td>div.past{
	opacity: 0.4;
	text-decoration: line-through;
}

.event-table td>div.selected{
	opacity: 1.0;
}


.event-table td>div.selected>div:nth-of-type(3){
    width: 20px;
    height: 20px; 
    background: @light-background-color;
    border-right:1px solid @divider-color;
    border-top:1px solid @divider-color;
    .rotation(-45deg);
    border-radius: 0px;

	position: relative;
	top: 14px;
	margin: 0px auto;
}

.event-table td>div.selected> .pie:before,
.event-table td>div.selected> .pie:after{
	background: @selected-color;
}

.selected-row{
	background: @light-background-color;
	border-top: 1px solid @divider-color;
	border-bottom: 1px solid @divider-color;

	line-height: 1.3em;
	font-size: 16px;
	margin: 4px 12px 7px 12px;

	text-align: center;
	position: relative;
}

.event-table tr.selected-row > td{
	padding: 0px;
	width: 100%;
}

.event-table tr.selected-row > td > div{
	width: auto;
	height: auto;
}

.info-row-date{
	margin-top: 10px;

	font-weight: lighter;
	color: #c0c0c0;
}

.info-row-text {
	margin: 4px 0px 10px 0px;
	padding: 0px 10px;
}


.inner{
	top: 5px;
	width: 28px;
	height: 28px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100px;
	position: relative;
}

.free{
	.inner;
	background: @free-color;
}

.busy{
	.inner;
	background: #fe673b;
}

.unknown{
	.inner;
	background: #ffffff;
}

.free > .content {
	color: white;
}

.content {
	position: relative;
	top: 3px;
	font-size: 16px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.footer{
	text-align: center;
	margin: 8px 10px 10px 10px;
	font-size: 16px;
}

/**************************************/
.register-attendee-message{
	.message-panel;
}

.register-attendee-email-spinner-container{
	.attendee-email-spinner-container;
}

.register-attendee-email-input-container{
	.attendee-email-input-container;
}

.register-attendee-email-validation{
	.attendee-email-validation;
}

.register-attendee-email-validation-valid{
	.attendee-email-validation-valid;
}

#register-attendee-email-input{
	.attendee-email-input;
}

.register-attendee-button-container{
	.attendee-button-container;
}

/**************************************/
#welcome-modal{
	font-size: 16px;
	line-height: 1.8em;
	text-align: center;
}

.modal-dialog{
	max-width: 450px;
}

.modal-header{
	background: @light-background-color;
}

.modal-footer{
	margin-top: 0px;
	text-align: center;
	padding: 15px;
}

.modal-content{
	border-radius: 0px;
}

.single-date-container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 38px;
	height: 38px;
	opacity: 1;
	text-align: center;
	line-height: 24px;
}
