@free-color: #4AD16C;
@font-size: 21px;

body{
	padding-top: 0px;
	padding-bottom: 40px;

	font-size: @font-size;
	font-family: 'Open Sans', sans-serif;
	color: #808080;

	min-height: 800px;
}

a{
	color: @free-color;
	cursor: pointer;
}

a:hover{
	color: @free-color;
	text-decoration: none;
}

a:active{
	color: @free-color;
	text-decoration: none;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

.fixed-width{
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	position: relative;
}

.info{
	max-width: 570px;
	margin-left: auto;
	margin-right: auto;

	font-size: 16px;
	padding: 15px 15px;

	line-height: 1.6em;
}

.info h2{
	font-size: 16px;
	color: #606060;
	line-height: 1.3em;
	padding: 4px 0px;
	margin: 0px;
}

.info .btn{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.table td{
	padding: 8px 0px;
	border-top: none;
}

.navbar-inner{
	border-color: #e8e8e8;
	min-height: 50px;
}

.navbar-fixed-top .navbar-inner, 
.navbar-fixed-bottom .navbar-inner, 
.navbar-static-top .navbar-inner{
	box-shadow: none;
}

.event-container{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	min-height: 800px;
}

#top-row-spacer{
	height: 57px;
}

.navbar-fixed-top .navbar-inner{
	background: white;
}

.title-button-container{
	position: absolute;
	height: 0px;
	right: 0px;
	overflow: visible;
}

#show-info{
	position: relative;
	right: 12px;
	top: 12px;
}

.title{
	text-align: center;
	padding-top: 12px;
	margin-left: auto;
	margin-right: auto;
}

.tiile-button{
}

#email-group{
	text-align: center;
	margin: 20px 0px 0px 0px;	
	display: block;
	font-size: @font-size;
}

.days-table{
	margin-top: 5px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	font-size: 9px;
	margin-bottom: 0px;
}

.days-table td{
	text-align: center;
	padding: 0px 0px;
	width: 30px;
}

.event-table tr{
	height: 60px;
}

.event-table td{
	text-align: center;
	position: relative;
}

@month-divider-color: #e8e8e8;
@selected-color: #a0a0a0;


.event-table td.first{
	border-left: 1px solid @month-divider-color;
	border-top: 1px solid @month-divider-color;
}

.event-table td.first-seven{
	border-top: 1px solid @month-divider-color;
}

.event-table td:nth-of-type(6),
.event-table td:nth-of-type(7){
	background: #f4f4f4;
}

.event-table td:nth-of-type(6) .unknown,
.event-table td:nth-of-type(7) .unknown{
	background: #f4f4f4;
}


.event-table td > div{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 38px;
	height: 38px;
	opacity: 1;
	cursor: pointer;
}

.event-table td>div.selected{
	opacity: 1.0;
}

.event-table td>div.selected>div:nth-of-type(3){
	border-bottom: 4px solid @selected-color;
	position: relative;
	top: 14px;
	margin: 0px 6px;
}

.event-table td>div.selected> .pie:before,
.event-table td>div.selected> .pie:after{
	background: @selected-color;
}

.event-table td > div.month{
	position: absolute;
	width: 0px;
	height: 0px;
	font-size: 12px;
	color: #e0e0e0;
	font-weight: bold;
	top: -10px;

	display: none;

		// -moz-transform: rotate(90deg); /* Firefox */
		// -ms-transform: rotate(90deg); /* IE */
		// -webkit-transform: rotate(90deg); /* Safari and Chrome */
		// -o-transform: rotate(90deg); /* Opera */
		// transform:rotate(90deg);
}

.inner{
	top: 5px;
	width: 28px;
	height: 28px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100px;
	position: relative;
}

.free{
	.inner;
	background: @free-color;
}

.busy{
	.inner;
	background: #fe673b;
}

.unknown{
	.inner;
	background: #ffffff;
}

.free > .content {
	color: white;
}

.content {
	position: relative;
	top: 4px;
	font-size: 16px;
	color: @selected-color;
	//color: rgba(0,0,0,0.4);
}

.footer-text {
	margin: 6px;
	text-align: center;
	font-size: 16px;
	line-height: 1.3em;
}
