@free-color: #4AD16C;
@font-size: 21px;
@divider-color: #e8e8e8;

@month-divider-color: #e8e8e8;
@selected-color: #c0c0c0;
@weekend-color: #c8c8c8;
@light-background-color: #f8f8f8;

/* Globals */

body{
}

a{
	color: @free-color;
}

/* Bootstrap */
.navbar{
	background: @light-background-color;
	border-bottom: solid 1px @divider-color;
}

.navbar-brand{
	color: @free-color;
}

.brand{
	color: @free-color;	
}

.jumbotron{
	background: white;
	font-size: 15px;
}

.jumbotron h1{
	margin-top: 40px;
	margin-bottom: 20px;
}

.jumbotron p{
	font-size: 21px;
}


/* Homepage */

.features{
	background: @light-background-color;
	border-top: solid 1px @divider-color;
}

.features .row{
	margin-top: 40px;
}